<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
</div>

<div class="row marketing">
    <div class="row stat-header">
        <div class="col-md-4 text-center">Date</div>
        <div class="col-md-2 col-md-offset-2 text-center">
            <span class="glyphicon glyphicon-flash"></span>
            <span>Electricity</span>
        </div>
        <div class="col-md-2 text-center">
            <span class="glyphicon glyphicon-tint"></span>
            <span>Cold Water</span>
        </div>
        <div class="col-md-2 text-center">
            <span class="glyphicon glyphicon-tint"></span>
            <span>Hot Water</span>
        </div>
    </div>
    <div class="row stat" ng-show="isDateShow">
        <div class="col-md-4">{{today}}</div>
        <div class="col-md-2 text-center">
            <button class="btn btn-primary" ng-click="add()">Add</button>
        </div>
        <div class="col-md-2">
            <input class="form-control" ng-model="svet"/>
        </div>
        <div class="col-md-2">
            <input class="form-control" ng-model="holod"/>
        </div>
        <div class="col-md-2">
            <input class="form-control" ng-model="gor"/>
        </div>
    </div>
    <div ng-repeat="stat in stats">
        <div class="row stat">
            <div class="col-md-4">{{stat.date}}</div>
            <div class="col-md-2 text-center">
                <button class="btn btn-warning" ng-show="stat.canBeRemoved" ng-click="remove(stat._id)">Remove</button>
            </div>
            <div class="col-md-2 text-center">
                <span>{{stat.svet}}</span>
                <span ng-show="stat.svetInc" class="inc">
                    <span class="glyphicon glyphicon-arrow-up"></span>{{stat.svetInc}}
                </span>
            </div>
            <div class="col-md-2 text-center">
                <span>{{stat.holod}}</span>
                <span ng-show="stat.holodInc" class="inc">
                    <span class="glyphicon glyphicon-arrow-up"></span>{{stat.holodInc}}
                </span>
            </div>
            <div class="col-md-2 text-center">
                <span>{{stat.gor}}</span>
                <span ng-show="stat.gorInc" class="inc">
                    <span class="glyphicon glyphicon-arrow-up"></span>{{stat.gorInc}}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
